# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
env/
ENV/
*.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac system files
.DS_Store

# Logs and debugging
*.log

# Python notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# Coverage reports
htmlcov/
.coverage
.cache

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI OpenAPI cache
openapi.json

# Deployment
dist/
build/
*.egg-info/